<div class="frame-head">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="assets/image/logo.png" class="d-inline-block align-top" alt="">
            <span class="brand-title align-bottom">C&M</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" nz-popover [nzPopoverTitle]="alarmTitleTemplate"
                        [nzPopoverContent]="alarmContentTemplate" nzPopoverPlacement="bottom" nzPopoverTrigger="click">
                        <span class="iconfont iconbaojingliebiao">
                            <span *ngIf="alarmCount" class="badge badge-danger">{{alarmCount}}</span>
                        </span>
                        <div class="tip-title">预警</div>
                    </a>

                    <ng-template #alarmTitleTemplate><span *ngIf="alarmCount==0"><span
                                class="iconfont iconzhengchang text-success"></span>系统正常</span><span
                            *ngIf="alarmCount!=0"><span class="iconfont iconcuowu text-danger"></span>系统预警</span>
                    </ng-template>
                    <ng-template #alarmContentTemplate><span *ngIf="alarmCount==0">
                            <nz-empty [nzNotFoundContent]="emptyContent"></nz-empty>
                        </span><span *ngIf="alarmCount!=0">吧啦吧啦</span></ng-template>
                    <ng-template #emptyContent>
                        <span class="text-success" style="font-size: 0.7rem;">各项指标正常，没有异常需要处理</span>
                    </ng-template>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="iconfont iconbangzhu ">
                        </span>
                        <div class="tip-title">帮助</div>
                    </a>
                </li>
                <li class="nav-item dropdown mt-auto mb-auto account-menu">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" nz-popover
                        [nzPopoverTitle]="userTitleTemplate" [nzPopoverContent]="userContentTemplate"
                        nzPopoverPlacement="bottomRight" nzPopoverTrigger="click">
                        <nz-avatar nzSize="large" nzIcon="user"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <span>丁丁</span>
                    </a>
                    <ng-template #userTitleTemplate>
                        <div class="account-title text-primary"><a>修改密码</a></div>
                    </ng-template>
                    <ng-template #userContentTemplate>
                        <div class="account-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col">1</div>
                                    <div class="col">2</div>
                                </div>
                            </div>
                            <button class="btn btn-danger btn-sm iconfont iconzhuxiao" (click)="logout()">注销</button>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
        </div>
    </nav>
</div>

<div class="frame-body">
    <div class="left-menu bg-light">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu-item">
                        <span class="iconfont iconlogin-mall"></span>
                        <div class="title">货物管理</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu-item">
                        <span class="iconfont iconsms-coupon"></span>
                        <div class="title">账目管理</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu-item">
                        <span class="iconfont iconyonghuzhongxin"></span>
                        <div class="title">客户管理</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu-item">
                        <span class="iconfont icontotal-week"></span>
                        <div class="title">智能分析</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu-item">
                        <span class="iconfont iconziliaoku"></span>
                        <div class="title">基础资料</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu-item">
                        <span class="iconfont iconorder-setting"></span>
                        <div class="title">系统设置</div>
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div style="display: flex;">ssss</div>
        <router-outlet></router-outlet>
    </div>
    <div class="clearfix"></div>
</div>