<div class="frame-head">
    <div class="top-right-menu">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="iconfont iconbaojingliebiao">
                        <span *ngIf="alarmCount" class="badge badge-danger">{{alarmCount}}</span>
                    </span>
                    <div class="tip-title">预警</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="iconfont iconbangzhu ">
                    </span>
                    <div class="tip-title">帮助</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="frame-body">
    <div class="left-menu bg-success">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu">
                        <span class="iconfont iconlogin-mall"></span>
                        <div class="title">货物管理</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu">
                        <span class="iconfont iconsms-coupon"></span>
                        <div class="title">账目管理</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu">
                        <span class="iconfont iconyonghuzhongxin"></span>
                        <div class="title">客户管理</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu">
                        <span class="iconfont icontotal-week"></span>
                        <div class="title">智能分析</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu">
                        <span class="iconfont iconziliaoku"></span>
                        <div class="title">基础资料</div>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <button class="btn btn-light bg-transparent menu">
                        <span class="iconfont iconorder-setting"></span>
                        <div class="title">系统设置</div>
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>