<p>system-data-home works!</p>
<div class="row">
    <div class="col-md-4 col-lg-2">
        <nz-card routerLink="productlist" nzHoverable style="width:240px" [nzCover]="productInfoCoverTemplate">
            <nz-card-meta nzTitle="商品信息" nzDescription="查看当前系统内的库存商品"></nz-card-meta>
        </nz-card>
        <ng-template #productInfoCoverTemplate>
            <img alt="productinfo" src="assets/image/productinfo.jpg" />
        </ng-template>
    </div>
    <div class="col-md-4 col-lg-2">
        <nz-card routerLink="productlist" nzHoverable style="width:240px" [nzCover]="productInfoCoverTemplate">
            <nz-card-meta nzTitle="商品信息" nzDescription="查看当前系统内的库存商品"></nz-card-meta>
        </nz-card>
        <ng-template #productInfoCoverTemplate>
            <img alt="productinfo" src="assets/image/productinfo.jpg" />
        </ng-template>
    </div>
    <div class="col-md-4 col-lg-2">
        <nz-card routerLink="productlist" nzHoverable style="width:240px" [nzCover]="productInfoCoverTemplate">
            <nz-card-meta nzTitle="商品信息" nzDescription="查看当前系统内的库存商品"></nz-card-meta>
        </nz-card>
        <ng-template #productInfoCoverTemplate>
            <img alt="productinfo" src="assets/image/productinfo.jpg" />
        </ng-template>
    </div>
    <div class="col-md-4 col-lg-2">
        <nz-card routerLink="productlist" nzHoverable style="width:240px" [nzCover]="productInfoCoverTemplate">
            <nz-card-meta nzTitle="商品信息" nzDescription="查看当前系统内的库存商品"></nz-card-meta>
        </nz-card>
        <ng-template #productInfoCoverTemplate>
            <img alt="productinfo" src="assets/image/productinfo.jpg" />
        </ng-template>
    </div>
    <div class="col-md-4 col-lg-2">
        <nz-card routerLink="productlist" nzHoverable style="width:240px" [nzCover]="productInfoCoverTemplate">
            <nz-card-meta nzTitle="商品信息" nzDescription="查看当前系统内的库存商品"></nz-card-meta>
        </nz-card>
        <ng-template #productInfoCoverTemplate>
            <img alt="productinfo" src="assets/image/productinfo.jpg" />
        </ng-template>
    </div>
    <div class="col-md-4 col-lg-2">
        <nz-card routerLink="productlist" nzHoverable style="width:240px" [nzCover]="productInfoCoverTemplate">
            <nz-card-meta nzTitle="商品信息" nzDescription="查看当前系统内的库存商品"></nz-card-meta>
        </nz-card>
        <ng-template #productInfoCoverTemplate>
            <img alt="productinfo" src="assets/image/productinfo.jpg" />
        </ng-template>
    </div>
</div>
<a routerLink="addproducttype" routerLinkActive="active">addproducttype</a>
<br>
<a routerLink="addproduct" routerLinkActive="active">addproduct</a>
<br>

<div>
    <router-outlet></router-outlet>
</div>
<br>
<a [routerLink]="[{outlets:{ aux1: ['addproductunit'] } }]">Contact</a>
<button (click)="go()">Contact1</button>
<button (click)="go2()">Contact2</button>
<router-outlet name="aux1"></router-outlet>