<div class="signin-container">
  <div class="h3">{{authService.systemInfo.corporationName}}#产销存系统</div>
  <form class="form-signin" #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
    <div class="login-img">
      <img src="assets/image/login.jpg" alt="" height="100%">
    </div>

    <h1 class="h3 mb-3 font-weight-normal">请&nbsp;&nbsp;登&nbsp;&nbsp;录</h1>
    <label for="inputUserName" class="sr-only">用户名</label>
    <input type="text" id="inputUserName" name="userName" #inputName="ngModel" [(ngModel)]="userName"
      class="form-control" placeholder="用户名" required title="长度不超过10的中英文" maxlength="10" minlength="2" autofocus>
    <!-- <div *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)" class="alert alert-danger error-info">
      <div *ngIf="inputName.errors.required">
        用户名不能为空！
      </div>
      <div *ngIf="inputName.errors.minlength">
        用户名长度不能少于2！
      </div>
      <div *ngIf="inputName.errors.maxlength">
        用户名长度不能超过10！
      </div>
    </div> -->
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" #inputPassword="ngModel" name="password" [(ngModel)]="password"
      class="form-control" placeholder="密码" required minlength="6" maxlength="20">
    <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger error-info">
      <div *ngIf="password.errors.required">
        密码不能为空！
      </div>
      <div *ngIf="password.errors.minlength">
        密码长度不能少于6！
      </div>
      <div *ngIf="password.errors.maxlength">
        密码长度不能超过20！
      </div>
    </div> -->
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me">记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signinForm.invalid">登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>
</div>