<div class="signin-container text-center">
  <form class="form-signin">
    <img class="mb-4" src="assets/image/login.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请&nbsp;&nbsp;登&nbsp;&nbsp;录</h1>
    <label for="inputUserName" class="sr-only">用户名</label>
    <input type="text" id="inputUserName" class="form-control" placeholder="用户名" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <span>忘记密码</span>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me">记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>
</div>