<div class="signin-container text-center">
  <form class="form-signin" #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
    <img class="mb-4" src="assets/image/login.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请&nbsp;&nbsp;登&nbsp;&nbsp;录</h1>
    <label for="inputUserName" class="sr-only">用户名</label>
    <input type="text" id="inputUserName" name="user.userName" [(ngModel)]="userName" class="form-control"
      placeholder="用户名" required title="长度不超过10的中英文" maxlength="10" autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" name="password" [(ngModel)]="user.password" class="form-control"
      placeholder="密码" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me">记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signinForm.invalid">登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>
</div>